article{
    padding:1rem;
       background-color: #bf9ee5;
}
h2{
    margin: 0;
}
time{
    color: #3c2c50;
}
.action{
    text-align: right;
    margin: 0;
}
.action button{
    font: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #380774;
    color: #decdf2;
    border-radius: 4px;
    padding: 0.5rem a.5rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    transition: all 0.3s ease;

}
.action button:hover{
    background-color: #4a0775;
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);

}