<!-- <header>
  <img src="assets/Learn2earn_logo_HR.png" alt="L2E" />
  <h1>Angular we ar coming!</h1>
  <p>Time to learn all about Angular!</p>
</header> -->
<app-header />

<!-- <main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>

    } @if(selectedUser){
    <app-tasks
      [name]="selectedUser ? selectedUser.name : ' '"
      [id]="selectedUser.id"
    />
    } @else {
    <p id="fallback">from 'ngelse' Select a user to see their tasks</p>
    }
  </ul>
</main> -->
<main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
  </ul>
  <app-tasks
    *ngIf="selectedUser; else fallback"
    [name]="selectedUser ? selectedUser.name : ' '"
    [id]="selectedUser.id"
  />
  <ng-template #fallback>
    <p id="fallback">from 'legacy else' Select a user to see their tasks</p>
  </ng-template>
</main>
